@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

body {
  /* background-color: rgb(19, 19, 56); */
}

.header-hero__container {
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
}

/* Header */

.header {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav-list {
  color: #ffffff;
  list-style: none;
  display: flex;
  gap: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 40px;
  flex-wrap: wrap;
}

.nav-list__item {
  cursor: pointer;
}

.nav-list__item-1 {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

.nav-list__item-1:hover .header-dropdown {
  display: block;
}

.nav-list__item-1:hover .nav-list__image {
  transform: rotate(180deg);
}

.header-dropdown {
  position: absolute;
  top: 100%;
  left: 6px;
  right: -60px;
  list-style: none;
  margin-top: 6px;
  display: none;
}

.header-link {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  background-color: #14b45c;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 30px;
}

/* Hero */

.hero-container {
  padding: 91px 0 142px;
  display: flex;
  padding: 295px;
}
.hero__image {
}
.hero__content {
  margin-top: 253px;
  max-width: 494px;
  margin-left: 89px;
}
.hero__content--heading {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}

.hero__content--text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #a1a4ac;
}
.hero__content--links {
  margin-top: 56px;
  display: flex;
  gap: 30px;
}
.hero__content-link--donwnload {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 31px;
  background-color: #14b45c;
  box-shadow: 0px 5px 30px rgba(50, 54, 67, 0.2);
  border-radius: 16px;
}
.hero__content-link--watch {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

/* Everything section */

.everything {
  margin-top: 120px;
  padding-bottom: 235px;
}
.everything__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #1c1f28;
}
.everything__items {
  margin-top: 160px;
  display: flex;
  padding: 0 205px;
  justify-content: space-between;
}
.everything__items--item {
  max-width: 320px;
  text-align: center;
}
.everything__items-item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1c1f28;
  margin-top: 43px;
}
.everything__items--item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #a1a4ac;
  margin-top: 24px;
}
